*.d.ts
*.js

node_modules/
npm-debug.log

coverage/
pid/

.vscode
.idea
.project
.settings
.directory

!setupTopics.js
!.eslintrc.js

lib

*.log
*~
/mc
.nyc_output

config
id_rsa
id_rsa.pub
known_hosts
